body {
    background-color:#F1F1F1;
    font-family: "Open Sans";
    height:auto;
}

legend {
    color:#666666;
}

.errors {
  display:none;
}

#teamName {
    font-family: "Montserrat";
    font-size: 50px;
    color:cyan;
    padding-left: 30px;
}

p {
    padding-left: 50px;
    padding-right: 50px;
}

img.sharks {
    float: left;
}

#teamName {
    font-weight: bold;
    font-size: 50px;
}

#pageLinks {
    background-color:
}

#aboutUs {
    color: orange;
    font-size: 40px;
    font-weight: bold;
    background-color: #343C45;
}


#footer {
    width:100%;
    height:100px;
    position:relative;
    bottom:0;
    left:0;
}

.itemInfo {
  display:inline-block;
  text-align:center;
  height:20%;
}

#homeIcon {
  display:none;
}

input[type="text"]::-webkit-input-placeholder {
   color:black;
}

input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color:black;
}

input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color:black;
}

input[type="text"]:-ms-input-placeholder {
   color:black;
}

input[type="password"]:-ms-input-placeholder {
   color:black;
}

input[type="password"]:-moz-placeholder { /* Firefox 18- */
   color:black;
}

input[type="password"]::-moz-placeholder {  /* Firefox 19+ */
   color:black;
}

input[type="password"]::-webkit-input-placeholder {
   color:black;
}
